<form class="form-container">
    <div class="mg-tb-50">
        <h2 class="title">Ficha</h2>
    </div>
    <div class="input-container-flex">
        <div class="label-float">
            <input name='strength' class="input-flex" 
                type="text" placeholder="Força"/>
        </div>
        <div class="label-float">
            <input name='ability' class="input-flex" 
                type="text" placeholder="Habilidade"/>
        </div>
    </div>
    <div class="input-container-flex">
        <div class="label-float">
            <input name='armor' class="input-flex" 
                type="number" placeholder="Armadura"/>
        </div>
        <div class="label-float">
            <input name='fire_power' class="input-flex" 
                type="number" placeholder="Poder de Fogo"/>
        </div>
    </div>
    <div class="input-container-flex">
        <div class="label-float">
            <input name='class' class="input-flex" 
                type="text" placeholder="Classe"/>
        </div>
        <div class="label-float">
            <input name='race' class="input-flex" 
                type="text" placeholder="Raça"/>
        </div>
    </div>
    <div class="input-container-flex">
        <div class="label-float">
            <input name='name' class="input-flex" 
                type="text" placeholder="Nome"/>
        </div>
        <div class="label-float">
            <input name='experience_points' class="input-flex" 
                type="number" placeholder="Pontos de Experiência"/>
        </div>
    </div>
    <div>
        <button
        class="btn-save">
            Registrar
        </button>
    </div>
</form>
